#footer= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + '.'

  a(rel='nofollow', target='_blank', href='http://www.beian.miit.gov.cn') 浙ICP备18044151号
